.authentication-screen {
  width: 50%;
  margin: auto;
  margin-top: 20%;
  background-color: rgba(0, 123, 255, 0.07);
}

.auth-form {
  padding: 5% 0% 0% 0%;
  border-top: solid 1px #dee2e6;
  margin-top: 2%;
}

.nav-pills .nav-link {
  width: auto;
  text-align: center;
  width: 50%;
}

.auth-loading {
  left: 0;
}
